<!-- ======= Facts Section ======= -->
<section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="zoom-out">
      <div class="row">
        <div class="text-center text-lg-start">
          <h3 class="cta-title">Fatos Sobre o Nosso Instituto</h3>
         
          <div class="row counters" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-3 col-6 text-center success_student">
              <div class="d-flex" style="justify-content: center;">
                <span data-purecounter-start="0" data-purecounter-end="94" data-purecounter-duration="1" class="purecounter"></span><span style=" padding-top: 1rem;font-size: 2rem;">%</span>
              </div>
              <p>Estudantes de Sucesso!</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="<%= alunos.count %>" data-purecounter-duration="1" class="purecounter"></span>
              <p>Novos Estudantes</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="<%= professores.count %>" data-purecounter-duration="1" class="purecounter"></span>
              <p>Professores actuais</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
              <p>Prêmios</p>
            </div>
  
          </div>
        </div>
      </div>

    </div>
  </section><!--  End Facts Section -->

 