<!-- Footer -->
<footer class="footer" id="footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer-top__box">
          <h3>LIGAÇÕES RÁPIDAS</h3>
          <a href="/#hero">Home</a>
          <a href="/#sobre">Sobre</a>
          <a href="/#cursos">Cursos</a>
          <a href="/contactos">Contactos</a>
        </div>
    
        <div class="footer-top__box">
          <h3>INFORMAÇÃO</h3>
          <a href="/faq">FAQ</a>
          <a href="">Política de Privacidade</a>
          <a href="">Termos & Condições</a>
          <a href="">Mapa de local</a>
        </div>
    
        <div class="footer-top__box">
          <h3>EXTRA</h3>
          <a href="/admin/entrar">MINHA CONTA</a>
        </div>
    
        <div class="footer-top__box">
          <h3>CONTACTE NOS</h3>
          <div class="">
            <span>
              <i class="bi bi-pin-fill" aria-hidden="true"></i>
                Luanda - Angola
            </span>
          </div>
    
          <div class="">
            <span>
                <i class="bi bi-envelope-fill" aria-hidden="true"></i>
                geral.qinet@gmail.com
            </span>
          </div>
    
          <div class="">
            <span>
              <i class="bi bi-telephone-fill" aria-hidden="true"></i>
                (+224 ) 949-224-752
            </span>
          </div>
        </div>
      </div>
    </div>
    </footer>