 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto" style="display: none"><a href="/">QINET</a></h1>
      
      <a href="/" class="logo me-auto"><img src="/assets/img/logo.png" alt="QINET" class="img-fluid"></a>
     <!--  Uncomment below if you prefer to use an image logo -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul id="menu">
          <li><a class="nav-link scrollto" href="/#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/#cursos">Cursos</a></li>
          <li class="nav-item dropdown pe-3">

            <a class="nav-link nav-profile d-flex align-items-center pe-0 scrollto" id="menu_students" href="#" data-bs-toggle="dropdown">
              <span class="d-md-block dropdown-toggle ps-2">Aluno</span>
            </a><!-- End Profile Iamge Icon -->
  
            <ul id="submenu" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">  
              <li>
                <a class="dropdown-item d-flex align-items-center" href="/aluno/matricular">
                  <span>Matricular</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li>
                <a class="dropdown-item d-flex align-items-center" href="/aluno/confirmar">
                  Confirmar
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li>
                <a class="dropdown-item d-flex align-items-center" href="/aluno/sobre">
                  Sobre o aluno
                </a>
              </li>  
            </ul><!-- End Profile Dropdown Items -->
          </li><!-- End Profile Nav -->
          <li><a class="nav-link scrollto" href="/#sobre">Sobre</a></li>
          <li><a class="nav-link" id="menu_contacts" href="/contactos">Contactos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
    
  </header><!-- End Header -->