<%- include('../../partials/msg') -%>

<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-lg-6 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>Seu ecossistema<br>Para Evoluir Na<span> Educação</span></h2>
          <p>
            A Educação possui Raízes amargas, mas os seus frutos são doces.
          </p>
          <div>
            <a href="#sobre" class="btn-get-started scrollto">Saiba mais</a>
          </div>
        </div>

        <div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200">
        
            <!--<img src="/assets/img/intro-img.svg" alt="" class="img-fluid glide__slide">-->
               <!-- Slides with fade transition -->
              <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item">
                    <img src="/assets/img/slide/intro-img.svg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item active">
                    <img src="/assets/img/slide/undraw_back_to_school_inwc.svg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/slide/undraw_bookshelves_re_lxoy.svg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/slide/undraw_education_f8ru.svg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/slide/undraw_exams_g-4-ow.svg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/slide/undraw_graduation_re_gthn.svg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/slide/undraw_professor_-8-lrt.svg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/slide/undraw_road_to_knowledge_m8s0.svg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/slide/undraw_teaching_f-1-cm.svg" class="img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/slide/undraw_true_friends_c-94-g.svg" class="img-fluid" alt="...">
                  </div>
                </div>
              </div><!-- End Slides with fade transition -->

              
         
         
        </div>
      </div>
    </div>
  </section><!-- End Hero -->