<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Glide Carousel Script -->
<script src="/assets/vendor/glidejs/glide.min.js"></script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/popper.min.js"></script>
<script src="/assets/vendor/purecounter/purecounter.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/docs.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/slider.js"></script>
<script src="/assets/js/main.js"></script>

 <!-- Plugins -->
 <script src="/plugins/devmoon_filereader.js"></script>
 <script src="/plugins/FormValidation.js"></script>
 <script src="/plugins/FormFilter.js"></script>
 <script src="/plugins/FormPrint.js"></script>
 <script src="/plugins/FormActions.js"></script>
 <script src="/plugins/Utils.js"></script>


<script>
    new DevMoonFileReader('validationTooltipPhoto', 'validationTooltipPhotoHidden', 'photo_student', 'error_msg');
</script>