<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <%- include('../public/components/head') -%>
</head>
<body>

    <main>
        <div class="container">
    
          <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="row" align="center" style="display: none;">
              <h1>404</h1>
              <h2>A página que procuras não existe.</h2>
              <a class="btn btn-primary " href="/">Voltar para o home</a>
            </div>
            <img src="/assets/img/undraw_page_not_found_su7k.svg" class="img-fluid  position-fixed py-5" alt="Page Not Found">
            
          </section>
    
        </div>
      </main><!-- End #main -->
    

    <%- include('../public/components/scripts') -%>
</body>
</html>