<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../components/head'); -%>
<body>
    
    <main>

        <%- include('../../partials/msg') -%>

        <div style="display: none;" class="pagetitle">
          <h1>SchoolAdmin - Entrar</h1>
        </div><!-- End Page Title -->

        <div class="container">
    
          <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    
                    <div class="d-flex justify-content-center py-4">
                        <a href="/admin/entrar" class="logo d-flex align-items-center w-auto">
                          <img src="/admin/assets/img/logo.png" alt="">
                          <span class="d-none d-lg-block">SchoolAdmin</span>
                        </a>
                      </div><!-- End Logo -->
    
                  <div class="card mb-6">
    
                    <div class="card-body">
    
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Entre na sua conta</h5>
                        <p class="text-center small">Introduza o usuário & senha para entrar!</p>
                        <p class="text-center" style="color: #f04c4c; font-weight: bold;">ÁREA RESTRITA</p>
                      </div>
    
                      <form class="row g-3 needs-validation" action="/admin/auth" id="form-login" method="post" novalidate>
    
                        <div class="col-12">
                          <label for="yourUsername" class="form-label">Usuário*</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="text" name="usuario" class="form-control" id="yourUsername" required>
                            <div class="invalid-feedback">Por favor, introduza o usuario!</div>
                          </div>
                        </div>
    
                        <div class="col-12">
                          <label for="yourPassword" class="form-label">Senha*</label>
                          <input type="password" name="senha" class="form-control" id="yourPassword" required>
                          <div class="invalid-feedback">Por favor, introduza a senha!</div>
                        </div>
    
                      
                        <div class="col-12">
                          <button class="btn btn-primary w-100" type="submit">Entrar</button>
                        </div>
                       
                      </form>
    
                    </div>
                </div>
    
                </div>
              </div>
            </div>
    
          </section>
    
        </div>
      </main><!-- End #main -->
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
    
    <%- include('../components/scripts'); -%>

    <script>
        new FormValidation('form-login', 'alert', false, '/admin/dashboard');
    </script>
    
</body>
</html>                                                                                 