<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../components/head'); -%>
<body style="background: #fff;">
    
    <%- include('../../partials/msg'); -%>
    <div style="display: none;" class="pagetitle">
        <h1>Visualizar turmas</h1>
    </div><!-- End Page Title -->



    
    <%- include('../components/scripts'); -%>
    
</body>
</html>                                                                                 